* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

/*
.anime {
    position: relative;
    width:100%;
    display:flex;
    flex-direction:center;
    align-items: center;
    justify-content: center;
}
.anime img {
    width:100%;
    margin-top:30vh;
    position:absolute;
    
    pointer-events: none;
}
#index-21 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-22 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-23 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-header1 {
    color:black;
    font-size:20px;
    z-index:100;
    transition-duration:0.5s;
}


#index-1 {
    object-fit:cover;
    transition-duration:1s;
}

#index-2 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-3 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-4 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-5 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-6 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-7 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-8 {
    object-fit:cover;
    transition-duration:0.5s;
}
#index-9 {
    object-fit:cover;
    transition-duration:0.5s;
}*/




